# cargo-deny configuration - license checking only
# https://embarkstudios.github.io/cargo-deny/

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "ISC",
    "CC0-1.0",
    "MPL-2.0",
    "Unlicense",
    "Zlib",
    "Unicode-3.0",
    "Unicode-DFS-2016",
]
